<h2>Manage private articles</h2>
<div style="margin-bottom: 20px">
  <p>When you publish article Admin will get email notification!</p>
  <button mat-raised-button (click)="createArticle()">
    Create new article
  </button>
</div>
<div class="row">
  <table mat-table [dataSource]="dataSource" style="margin-right: 70px">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let article">{{ article.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberOfComments">
      <th mat-header-cell *matHeaderCellDef>Comments number</th>
      <td mat-cell *matCellDef="let article">{{ article.numberOfComments }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberOfTags">
      <th mat-header-cell *matHeaderCellDef>Tags number</th>
      <td mat-cell *matCellDef="let article">{{ article.numberOfTags }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberOfResources">
      <th mat-header-cell *matHeaderCellDef>Resources number</th>
      <td mat-cell *matCellDef="let article">
        {{ article.numberOfResources }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let article">{{ article.title }}</td>
    </ng-container>

    <!-- CreateDate Column -->
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef>Date created</th>
      <td mat-cell *matCellDef="let article">{{ article.createDate }}</td>
    </ng-container>

    <!-- Updatedate Column -->
    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef>Date updated</th>
      <td mat-cell *matCellDef="let article">{{ article.updateDate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let article">
        <button
          style="margin-right: 10px"
          mat-raised-button
          (click)="editArticle(article.id)"
        >
          Edit
        </button>
        <button
          style="margin-right: 10px"
          mat-raised-button
          (click)="deleteArticle(article.id)"
        >
          Delete
        </button>
        <button
          style="margin-right: 10px"
          mat-raised-button
          (click)="viewArticle(article.id)"
        >
          View
        </button>
        <button
          *ngIf="article.status != 3"
          mat-raised-button
          (click)="publicArticle(article.id)"
        >
          Public
        </button>
      </td>
    </ng-container>

    <!-- Define table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
