<div class="content row" *ngIf="!spinner">
  <div class="col">
    <h2 style="text-align: center">Title : {{ article.title }}</h2>
    <hr />
    <div class="tag-widget">
      <h4>Tags</h4>
      <div *ngFor="let tag of article.tags">{{ tag.title }}</div>
    </div>
    <h4>Description</h4>
    <div *ngFor="let content of article.articleContent">
      <div
        class="article-content"
        *ngIf="content.type == 'TEXT'; else resource"
      >
        {{ content.text }}
      </div>
      <ng-template #resource>
        <div class="article-content">
          <button mat-raised-button (click)="getFile(content.resourceId)">
            Download resource with id {{ content.resourceId }}
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="comment-section">
    <h4>Leave comment</h4>
    <hr />
    <div class="create-comment">
      <input type="text" [(ngModel)]="commentContent" />
      <button mat-stroked-button (click)="createComment()">Publish</button>
    </div>
    <div class="comment-item" *ngFor="let item of comments">
      <div class="row">
        <b style="margin: auto">{{ item.authorUsername }}</b>
        <button
          mat-stroked-button
          *ngIf="item.authorId == currentlyLoggedInUser"
          (click)="deleteComment(item.id)"
        >
          delete
        </button>
      </div>
      <p>{{ item.content }}</p>
    </div>
  </div>
</div>
